@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
@media
 (min-width: 576px) {
  .my-container {
      width: 100%;
  }
}
@media
 (min-width: 768px) {
  .my-container {
      width: 100%;
  }
}
@media
 (min-width: 992px) {
  .my-container {
      /* width: 960px; */
      width: calc( 100vw - calc( 2 * 80px ) );
  }
}
@media
 (min-width: 1200px) {
  .my-container {
      /* width: 1140px; */
      width: calc( 100vw - calc( 2 * 80px ) );
  }
}